@{
    var formConfig = new FormConfig(ViewContext) {
        FormId = "GetStartedForm",
        FormTitle = "Get Started Now",
        BeforeSubmit = "GetStartedFormBeforeSubmit",
        Callback = "GetStartedFormCallback"
    };
}
@using NewHavenLanding.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Joonasw.AspNetCore.SecurityHeaders.TagHelpers
@model CustomerLoanInfo

<div class="customer-parent">
    <form class="form-grid" id="@formConfig.FormId" asp-formhelper="true"  asp-controller="GetStarted" asp-dataType="FormData" asp-action="Save" enctype="multipart/form-data" formhelper>
        @Html.HiddenFor(x=>x.Id, new {@Value = ViewBag.customerGid})
        <div class="form-grid">
            <div class="form-group">
                <div>What kind of program are you looking for?</div>
            </div>
            <div class="form-group">
                <label asp-for="LoanType"></label>
                <select asp-for="LoanType" asp-items="Html.GetEnumSelectList<LoanType>()" class="form-control loanType">
                    <option value="">Select</option>
                </select>
                <span asp-validation-for="LoanType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>Are you current with your creditors? (credit cards, etc.)</div>
            </div>
            <div class="form-group form-radio">
                <input id="IsCurrentWithCreditorsYes" asp-for="IsCurrentWithCreditors" type="radio" value="@RadioYesNo.Yes"/>
                 <label for="IsCurrentWithCreditorsYes">@RadioYesNo.Yes</label>
                <input id="IsCurrentWithCreditorsNo" asp-for="IsCurrentWithCreditors" type="radio" value="@RadioYesNo.No"/>
                 <label for="IsCurrentWithCreditorsNo">@RadioYesNo.No</label>
                <span asp-validation-for="IsCurrentWithCreditors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>Are you currently employed?</div>
            </div>
            <div class="form-group form-radio">
                <input id="IsEmployedYes"  asp-for="IsEmployed" type="radio" value="@RadioYesNo.Yes"/>
                 <label for="IsEmployedYes">@RadioYesNo.Yes</label>
                <input id="IsEmployedNo" asp-for="IsEmployed" type="radio" value="@RadioYesNo.No"/>
                 <label for="IsEmployedNo">@RadioYesNo.No</label>
                <span asp-validation-for="IsEmployed" class="text-danger"></span>
            </div>
           <div class="form-group">
                <div>Monthly income:</div>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyIncome"></label>
                <input asp-for="MonthlyIncome" type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="(required)">
                <span asp-validation-for="MonthlyIncome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>Estimated debt:</div>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedDebt"></label>
                <input asp-for="EstimatedDebt" type="text" class="form-control" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value="" data-type="currency" placeholder="(required)">
                <span asp-validation-for="EstimatedDebt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div>Language preference:</div>
            </div>
            <div class="form-group">
                <label asp-for="LanguagePreference"></label>
                <input asp-for="LanguagePreference" type="text" class="form-control" value="English" placeholder="(required)">
                <span asp-validation-for="LanguagePreference" class="text-danger"></span>
            </div>

            <div class="submit-area">
                <button type="submit" id="submit-verify" class="btn-submit-form">Verify</button>
                <br/><br/>
                <div>This will <strong>NOT</strong> affect your credit score.</div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" asp-add-nonce="true">
 var GetStartedFormBeforeSubmit = function (rr, $form, options) {
        document.getElementById("submit-verify").disabled = true;
        $(".btn-submit-form").css("filter","grayscale(100%)");
        document.getElementById("submit-verify").innerHTML = "Verifying...";
      
    };
    var GetStartedFormCallback = function (response, statusText, xhr, $form) {
        document.getElementById("submit-verify").disabled = false;
        $(".btn-submit-form").css("filter","grayscale(0)");
        document.getElementById("submit-verify").innerHTML = "Verify";
 };

 function formatNumber(n) {
     return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
 }
   
function formatCurrency(input, blur) {
    let input_val = input.val();
    if (input_val === "") { return; }
    const original_len = input_val.length;
    let caret_pos = input.prop("selectionStart");
    if (input_val.indexOf(".") >= 0) {
      const decimal_pos = input_val.indexOf(".");
      let left_side = input_val.substring(0, decimal_pos);
      let right_side = input_val.substring(decimal_pos);
      left_side = formatNumber(left_side);
      right_side = formatNumber(right_side);
      
      if (blur === "blur") {
        right_side += "00";
      }
      right_side = right_side.substring(0, 2);
      input_val = "$" + left_side + "." + right_side;
  
    } else {
      input_val = formatNumber(input_val);
      input_val = "$" + input_val;
      if (blur === "blur") {
        input_val += ".00";
      }
    }
    input.val(input_val);
    const updated_len = input_val.length;
    caret_pos = updated_len - original_len + caret_pos;
    input[0].setSelectionRange(caret_pos, caret_pos);
  }
      
window.addEventListener("load", function () {
  $(document).ready(function(){ 
         const $form = $('#GetStartedForm');
                                                     
         $form.attr('formhelper')
         $form.attr('dataType', 'FormData');
         $form.attr('CheckTheFormFieldsMessage', 'Check the form fields.');
         $form.attr('redirectDelay', '0');
         $form.attr('beforeSubmit', 'GetStartedFormBeforeSubmit');
         $form.attr('callback', 'GetStartedFormCallback');
         $form.attr('enableButtonAfterSuccess', 'False');
         $form.attr('resetFormAfterSuccess', 'True');
         $form.attr('toastrPositionClass', 'formhelper-toast-top-right');
       
     
       $("input[data-type='currency']").on({
            keyup: function() {
              formatCurrency($(this));
            },
            blur: function() { 
              formatCurrency($(this), "blur");
            }
        });
           $(".loanType").change(function(){ 
           $("option[value='']").remove();
        });
    });
});
</script>

<style asp-add-nonce="true">
    input, select {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      color: #797575 !important;
    } 
    .customer-parent {
        width: 60%;
        border-radius: 10px;
        margin: 0 auto 18px;
        background-color: white;
    }
    .form-control {
        width: 90%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }
    .form-group label {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    .form-radio label {
           position: relative;
        }
    .form-radio {
        text-align: right;
        padding-right: 46px;
    }
    .btn-submit-form {
        color: white;
        font-weight: 600;
        background-color: #fe9c57;
        border: none;
        border-radius: 5px;
        font-size: 22px;
        padding: 2px 50px;
    }
    .form-grid {
      display: flex;
      flex-wrap: wrap;
    }
    .form-grid > div {
      flex: 51%; 
      margin-bottom: 10px;
    }
    .submit-area {
        text-align: center;
        margin-top: 18px;
    }
    .text-danger{
        color: red;
        font-size: 12px;
        display: block;
    }
    @@media only screen and (min-width:  855px) {
        .form-grid > div {
             flex: 50%; 
             margin-bottom: 10px;
           }
    }
</style>